<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>考考考題系統</title>
    <meta name="author" content="Steven Wang" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <nav id="navbar" class="sticky-top">
      <ul>
        <li><a href="/teachers">首頁</a></li>
        <li><a href="/teachers/all">題庫</a></li>
        <li><a href="/teachers/add">出題</a></li>
        <li><a href="#">聯絡我們</a></li>
      </ul>
    </nav>
    <div class="main"><%- body %></div>
    <footer>
      <div class="footer__left">
        <h1>Steven Wang</h1>
        <h2>網頁開發工程師</h2>
      </div>
      <div class="footer__main">&copy; stevetanus 2022</div>
      <div class="footer__right">
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </div>
    </footer>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
