<% layout("layouts/boilerplate") %>

<img class="logo" src="/images/192.PNG" alt="a picture" />
<form
  action="/teachers/<%= test._id %>?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="add__category">
    <label for="category">Category:</label>
    <select name="add[category]" id="category">
      <option value="General Knowledge">General Knowledge</option>
      <option value="English Vocabulary">English Vocabulary</option>
      <option value="Japanese Words">Japanese Words</option>
      <option value="Technical Interview">Technical Interview</option>
      <option value="Mathematics">Mathematics</option>
    </select>
    <!-- <input type="text" name="add[category]" id="category" /> -->
  </div>
  <div class="add__question">
    <label for="question">Question:</label>
    <textarea
      name="add[question]"
      id="question"
      cols="30"
      rows="5"
      class="textarea"
      required
    >
<%= test.question %></textarea
    >
  </div>
  <div class="add__answer">
    <label for="answer">Answer:</label>
    <input
      type="text-area"
      name="add[answer]"
      id="answer"
      value="<%= test.answer %>"
      required
    />
  </div>
  <% test.incorrect_answers.forEach((option)=>{ %>
  <div class="add__options">
    <label for="options">Options:</label>
    <input type="text" name="add[options]" id="options" value="<%=option%>" />
  </div>
  <%}) %>
  <div class="add__notes">
    <h3>*Be sure to select correct category*</h3>
  </div>
  <div class="add__notes">
    <h3>*Answer is not included in options*</h3>
  </div>
  <div class="add__submit">
    <button>Submit</button>
  </div>
</form>
