<% layout('layouts/boilerplate') %>
<div class="main__title">
  <h2>歡迎來到線上題庫</h2>
  <h3>你打code累了的好選擇!</h3>
</div>
<div class="items">
  <div class="item">
    <a href=""><i class="uil uil-shuffle"></i></a>
    <h2>全部隨機考題</h2>
  </div>
  <div class="item">
    <a href=""><i class="uil uil-java-script"></i></a>
    <h2>最新JS考題</h2>
  </div>
  <div class="item">
    <a href=""><i class="uil uil-english-to-chinese"></i></a>
    <h2>實用英文單字</h2>
  </div>
  <div class="item">
    <a href=""><i class="uil uil-letter-japanese-a"></i></a>
    <h2>基礎日文單字</h2>
  </div>
</div>
