<% layout('layouts/boilerplate') %>
<div class="main__title">
  <h1>歡迎來到線上題庫</h1>
  <h3>你打code累了的好選擇!</h3>
</div>
<div class="items">
  <div class="item">
    <img src="" alt="" />
    <h2>最新JS考題</h2>
  </div>
  <div class="item">
    <img src="" alt="" />
    <h2>實用英文單字</h2>
  </div>
  <div class="item">
    <img src="" alt="" />
    <h2>基礎日文單字</h2>
  </div>
</div>
